name: Publish Release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  build:
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    env:
      RELEASE_VERSION: ${{ github.ref_name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - id: compile
        uses: rhysnewell/rust-cargo-musl-action@v0.1.20
        with:
          command: build

      - name: Package binaries
        run: |
          mkdir -p release/
          cp "${{ steps.compile.outputs.release-dir }}/rosella" INSTALL.md release/

      - name: Compress action step
        id: compress
        uses: a7ul/tar-action@v1.2.0
        with:
          command: c
          cwd: ./
          files: |
            ./release/
          outPath: rosella-x86_64-unknown-linux-musl-${{ env.RELEASE_VERSION }}.tar.gz

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: binary
          path: rosella-x86_64-unknown-linux-musl-${{ env.RELEASE_VERSION }}.tar.gz

      - name: Create a Release
        uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          automatic_release_tag: ${{ env.RELEASE_VERSION }}
          title: ${{ env.RELEASE_VERSION }}
          files: |
            rosella-x86_64-unknown-linux-musl-${{ env.RELEASE_VERSION }}.tar.gz
